<!-- 
<nav>

    <ul class="desktop-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/inv/custom">Custom</a></li>
        <li><a href="/inv/sedan">Sedan</a></li>
        <li><a href="/inv/suv">SUV</a></li>
        <li><a href="/inv/truck">Truck</a></li>
    </ul>

  
    <div class="mobile-nav">
        <a href="/">Home</a>
        <a href="/inv/custom">Custom</a>
        <a href="/inv/sedan">Sedan</a>
        <a href="/inv/suv">SUV</a>
        <a href="/inv/truck">Truck</a>
    </div>
</nav>
 -->