<nav>
    <!-- Desktop Navigation -->
    <ul class="desktop-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Custom</a></li>
        <li><a href="#">Sedan</a></li>
        <li><a href="#">SUV</a></li>
        <li><a href="#">Truck</a></li>
    </ul>
    
    <!-- Mobile Navigation -->
    <div class="mobile-nav">
        <a href="#" class="my-account">MY ACCOUNT</a>
    </div>
</nav>