<nav>
    <!-- this is the navigation bar for desktop -->
    <ul class="desktop-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/inv/custom">Custom</a></li>   
        <li><a href="/inv/sedan">Sedan</a></li>
        <li><a href="/inv/suv">SUV</a></li>
        <li><a href="/inv/truck">Truck</a></li>
    </ul>

    <!-- this is the navigation bar for mobile -->
    <div class="mobile-nav">
        <a href="/inv/custom" class="my-account">CUSTOM</a>
    </div>
</nav>