<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Vehicle Management</title>
</head>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>

    <main>
        <h1>Vehicle Management</h1>
        
        <div class="management-links">
            <a href="/inv/add-classification" class="btn">Add New Classification</a>
            <a href="/inv/add-vehicle" class="btn">Add New Vehicle</a>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>